.login-screen .ui-panel{
	margin-top: 50px;
}

.login-title{
	display: grid;
	  justify-content: center;
	  padding: 20px;
}

.login-menu-actions{
	display: flex;
	  justify-content: center;
	  padding: 20px 20px 40px;
	  gap: 10px;
}