.panel-primary {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel1-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-title-primary {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel1-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-secondary {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel2-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-title-secondary {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel2-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 0px 8px 15px 8px;
	box-sizing: border-box;
}

.panel-complementary {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel1-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-title-complementary {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel1-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-light {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel1-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-title-light {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel1-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 6px 8px;
	box-sizing: border-box;
}

.panel-dark {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel2-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 40px 15px;
	box-sizing: border-box;
}

.panel-title-dark {
	
	min-height: 230px;
	border-style: solid;
	border-width: 40px 40px 65px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel/panel2-set1.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 6px 8px;
	box-sizing: border-box;
}

.panel-title {
	display: block;
	color: var(--color-text);
	padding: 0px 18px 20px 0px;
	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow);
}

.panel-grid .panel-content{
	display: grid;
	gap: 10px;
}
.panel-content {
	min-height: 120px;
 }
 
 .ui-content-panel{
	position: relative;
 }
 
 .ui-content-panel .panel-title {
 	display: block;
 	color: var(--color-text);
 	padding: 0px 18px 20px 0px;
 	text-transform: uppercase;
 	text-align: center;
 	font-size: 26px;
 	font-weight: 900;
 	font-style: italic;
 	text-shadow: var(--text-shadow);
 }

 .ui-content-panel .panel-grid .cpanel-content{
 	display: grid;
 	gap: 10px;
 }
 .ui-content-panel .panel-content {
 	min-height: 120px;
	padding: 5px 5px 20px 45px;
  }
 
 .ui-content-panel .horizontal-menu{
	position: absolute;
	top: -50px;
	  right: 20px;
 }
 
 .ui-content-panel .vertical-menu{
	position: absolute;
	top: 50px;
	  left: -25px;
 }
 
 .ui-content-panel.panel-dark,  .ui-content-panel.panel-light{
	margin: 25px;
	min-height: 390px;
 }
 
 .ui-content-panel.panel-none{
margin: 10px 10px 25px 25px;
 min-height: 390px;
 }