.panel-sm.primary {

	min-height: 240px;
	border-style: solid;
	border-width: 50px;
	border-image-source: url(/assets/ui/fantasy_bg/panel1-set1.png);
	border-image-slice: 60 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-sm-title.primary {

	min-height: 240px;
	border-style: solid;
	border-width: 60px 40px;
	border-image-source: url(/assets/ui/fantasy_bg/panel2-set1.png);
	border-image-slice: 100 fill;
	border-image-width: 160px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-sm.secondary {

	min-height: 240px;
	border-style: solid;
	border-width: 50px;
	border-image-source: url(/assets/ui/fantasy_bg/panel3-set1.png);
	border-image-slice: 60 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-sm-title.secondary {

	min-height: 240px;
	border-style: solid;
	border-width: 50px;
	border-image-source: url(/assets/ui/fantasy_bg/panel4-set1.png);
	border-image-slice: 60 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-sm.complementary {

	min-height: 240px;
	border-style: solid;
	border-width: 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel3-set3.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-sm-title.complementary {

	min-height: 240px;
	border-style: solid;
	border-width: 0px 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel4-set3.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-sm.dark {

	min-height: 240px;
	border-style: solid;
	border-width: 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel1-set4.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-sm-title.dark {

	min-height: 240px;
	border-style: solid;
	border-width: 0px 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel3-set4.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md.primary {

	min-height: 240px;
	border-style: solid;
	border-width: 50px;
	border-image-source: url(/assets/ui/fantasy_bg/panel1-set2.png);
	border-image-slice: 60 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md-title.primary {

	min-height: 240px;
	border-style: solid;
	border-width: 42px;
	border-image-source: url(/assets/ui/fantasy_bg/panel2-set2.png);
	border-image-slice: 80 fill;
	border-image-width: 120px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md.secondary {

	min-height: 240px;
	border-style: solid;
	border-width: 50px;
	border-image-source: url(/assets/ui/fantasy_bg/panel3-set2.png);
	border-image-slice: 60 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md-title.secondary {

	min-height: 240px;
	border-style: solid;
	border-width: 50px;
	border-image-source: url(/assets/ui/fantasy_bg/panel3-set2.png);
	border-image-slice: 60 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md.complementary {

	min-height: 240px;
	border-style: solid;
	border-width: 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel1-set3.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md-title.complementary {

	min-height: 240px;
	border-style: solid;
	border-width: 0px 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel2-set3.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md.dark {

	min-height: 240px;
	border-style: solid;
	border-width: 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel2-set4.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-md-title.dark {

	min-height: 240px;
	border-style: solid;
	border-width: 0px 20px;
	border-image-source: url(/assets/ui/fantasy_bg/panel4-set4.png);
	border-image-slice: 180 fill;
	border-image-width: 100px;
	border-image-repeat: stretch;
	padding: 8px;
	box-sizing: border-box;
}

.panel-title {
	display: block;
	color: var(--color-text);
	padding: 0px 18px 20px 18px;
	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow);
}