.ranking-list{
	display: grid;
	  gap: 13px;
	  margin-top: 22px;
	  position: relative;
	  z-index: 1;
}

.renking-actions{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;

	position: fixed;
	  bottom: 15px;
	  left: 50%;
	  transform: translateX(-50%); 
}

.ranking-box{
	display: grid;
	  grid-template-columns: 56px auto 1fr;
	  align-items: center;
	  gap: 8px;

	  background: var(--fantasy-border-primary);
	  border: 3px solid var(--fantasy-surface-gold);
	  color: var(--fantasy-surface-gold);
	  
}

.rk-rank{
	height: 72px;
	  display: grid;
	  place-items: center;
	  font-size: 26px;
	  background: var(--fantasy-surface-gold);
	  border: 3px solid var(--fantasy-border-primary);
	  color: var(--fantasy-text-cream);
}

.rk-icon{
	
	
}

.rk-desc{
}

.rk-desc-title{
	padding: 5px 25px;
	  text-transform: uppercase;
	  font-size: 22px;
	  font-style: italic;

}

.rk-desc-subtitle{
	padding: 0px 32px;
	font-weight: bold;
	  color: var(--fantasy-text-cream);
	  box-shadow: var(--shadow-elevated-sm);
}