

.settings-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.settings-selector,
.settings-theme-select,
.settings-social,
.settings-links {
	text-align: center;
	display: grid;
    gap: 10px;
}

	
.settings-row {
	justify-content: space-between;
	display: flex;
	align-items: center;
	gap: 10px;
}
