.sprite-container {
  width: 100%;
  height: 100%;

  position: relative;
  //overflow: hidden;
}

.sprite-container .sprite {
  position: absolute;
  left: 0;
  top: 0;

  background-repeat: no-repeat;
  transform-origin: top left;
}

.sprite-container .scale{
	position: absolute;
	left: 5px;
	top: 5px;
	color: red;
}

.sprite-container .name{
	font-size: 10px;
	color: #fff;
	position: absolute;
	left: 5px;
	bottom: 5px;
}

.sprite-container .badge{
	position: absolute;
	  right: 0px;
	  bottom: 0px;
	  background: var(--alert-bg);
	  color: var(--surface-white-bg);
	  border: var(--fantasy-border-2-cream);
	  border-radius: 99px;
	  max-width: 70px;
	  height: 22px;
	  font-size: 12px;
	  font-weight: 900;
	  padding: 0 5px;
	  z-index: 1;
}