.reward-prestige{
	display: grid;
	grid-template-columns: 60px 1fr 90px;
	gap: 8px;
	align-items: center;
	padding: 8px;
	background: var(--fantasy-surface-gold);
	border: 3px solid var(--fantasy-border-primary);
	color: var(--fantasy-text-cream);
	margin: 25px 0;
}

.reward-list {
	display: grid;
	gap: 12px;
}

.reward {
  display: grid;
  grid-template-columns: 60px 1fr 120px;
  gap: 8px;
  align-items: center;
  padding: 8px;
  background: var(--fantasy-border-primary);
  border: 3px solid var(--fantasy-surface-gold);
  color: var(--fantasy-surface-gold);
}

.r-icon {
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 30px;
  background: var(--fantasy-text-cream);
  border: 3px solid var(--fantasy-surface-gold);
}
.r-desc{
	
}
.r-desc-title{
	
}

.r-desc-subtitle{
	font-size: 14px;
	font-weight: normal;
}

small {
  display: block;
  color: #ffdf85;
  font-weight: 800;
}