
//############################################################################
//								BAR
//############################################################################

.primary-bar {
	color: var(--color-text);
	padding: 38px 18px 0 18px;
	text-transform: uppercase;
	text-align: center;
	

	width: 115px;
    height: 60px;
    background-image: url("/assets/ui/sketch/panel-set1.png");
    background-position: -29px -419px;
    background-repeat: no-repeat;
    transform: translate(0%, 0%) scale(1);
}

.primary-bar>span {
	display: block;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow-strong);
}	


.dark-bar {
	color: var(--color-text);
	padding: 38px 18px 0 18px;
	text-transform: uppercase;
	text-align: center;
	

	width: 383px;
    height: 52px;
    background-image: url("/assets/ui/sketch/panel-set1.png");
    background-position: -1026px -814px;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%) scale(0.835509);
}

.dark-bar>span {
	display: block;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow-strong);
}
