.icon {
  display: inline-block;
}

.icon-wrapper {
 overflow: hidden;
}

.icon-wrapper-xs {
  width: 24px;
  height: 24px;
}

.icon-wrapper-sm {
  width: 40px;
  height: 40px;
}

.icon-wrapper-md {
  width: 60px;
  height: 60px;
}

.icon-wrapper-lg {
  width: 112px;
  height: 112px;
}

//=================================================================================================
//     GENERIC UTILITY
//=================================================================================================

/* MUSIC */
.icon-music {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -58px -349px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-music.icon-xs {
	transform: scale(0.19);
}

.icon-music.icon-sm {
transform: scale(0.18);
}

.icon-music.icon-md {
	transform: scale(0.28);
}

.icon-music.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

.icon-music-off {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -286px -346px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-music-off.icon-xs {
	transform: scale(0.19);
}

.icon-music-off.icon-sm {
transform: scale(0.18);
}

.icon-music-off.icon-md {
	transform: scale(0.28);
}

.icon-music-off.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* SFX */
.icon-sfx {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -515px -349px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-sfx.icon-xs {
	transform: scale(0.19);
}

.icon-sfx.icon-sm {
transform: scale(0.18);
}

.icon-sfx.icon-md {
	transform: scale(0.28);
}

.icon-sfx.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* SERVICE */
.icon-service {
	width: 220px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -279px -103px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-service.icon-xs {
	transform: scale(0.19);
}

.icon-service.icon-sm {
transform: scale(0.18);
}

.icon-service.icon-md {
	transform: scale(0.26);
}

.icon-service.icon-lg {
	transform: scale(0.51);
}

/* MAP */
.icon-map {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -967px -820px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-map.icon-xs {
	transform: scale(0.19);
}

.icon-map.icon-sm {
	transform: scale(0.17);
	margin: 1px 2px;
}

.icon-map.icon-md {
	transform: scale(0.26);
	margin: 1px 3px;
}

.icon-map.icon-lg {
	transform: scale(0.53);
	  margin: 0px 3px;
}


/* GEAR */
.icon-gear {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -1191px -105px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-gear.icon-xs {
	transform: scale(0.19);
}

.icon-gear.icon-sm {
	transform: scale(0.19);
}

.icon-gear.icon-md {
	transform: scale(0.28);
}

.icon-gear.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}


/* PROFILE */
.icon-profile {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -281px -587px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-profile.icon-xs {
	transform: scale(0.19);
}

.icon-profile.icon-sm {
	transform: scale(0.19);
}

.icon-profile.icon-md {
	transform: scale(0.28);
}

.icon-profile.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* HOME */
.icon-home {
	width: 220px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -50px -97px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-home.icon-xs {
	transform: scale(0.19);
}

.icon-home.icon-sm {
transform: scale(0.18);
}

.icon-home.icon-md {
	transform: scale(0.27);
}

.icon-home.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* ATTACK */
.icon-attack {

		width: 200px;
		height: 210px;
		background-image: url("/assets/ui/sketch/icon-set2.png");
		background-position: -1198px -581px;
		background-repeat: no-repeat;
		transform: translate(0%, 0%);
		transform-origin: top left;
	}

.icon-attack.icon-xs {
	transform: scale(0.19);
}

.icon-attack.icon-sm {
	transform: scale(0.18);

}

.icon-attack.icon-md {
	transform: scale(0.27);
	margin: 0px 2px;
}

.icon-attack.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* DEFENSE */
.icon-defense {
		width: 200px;
		height: 210px;
		background-image: url("/assets/ui/sketch/icon-set2.png");
		background-position: -50px -811px;
		background-repeat: no-repeat;
		transform: translate(0%, 0%);
		transform-origin: top left;
	}

.icon-defense.icon-xs {
	transform: scale(0.19);
}

.icon-defense.icon-sm {
transform: scale(0.18);
margin: 0 1px ;
}

.icon-defense.icon-md {
	transform: scale(0.28);
}

.icon-defense.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* MAGIC */
.icon-magic {
		width: 200px;
		height: 210px;
		background-image: url("/assets/ui/sketch/icon-set2.png");
		background-position: -279px -813px;
		background-repeat: no-repeat;
		transform: translate(0%, 0%);
		transform-origin: top left;
	}

.icon-magic.icon-xs {
	transform: scale(0.19);
}

.icon-magic.icon-sm {
	transform: scale(0.19);
}

.icon-magic.icon-md {
	transform: scale(0.28);
}

.icon-magic.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* PROGRESS */
.icon-progress {
		width: 200px;
		height: 210px;
		background-image: url("/assets/ui/sketch/icon-set2.png");
		background-position: -510px -588px;
		background-repeat: no-repeat;
		transform: translate(0%, 0%);
		transform-origin: top left;
	}

.icon-progress.icon-xs {
	transform: scale(0.19);
}

.icon-progress.icon-sm {
	transform: scale(0.19);
}

.icon-progress.icon-md {
	transform: scale(0.28);
}

.icon-progress.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* TASK */
.icon-task {
		width: 200px;
		height: 210px;
		background-image: url("/assets/ui/sketch/icon-set2.png");
		background-position: -1193px -817px;
		background-repeat: no-repeat;
		transform: translate(0%, 0%);
		transform-origin: top left;
	}

.icon-task.icon-xs {
	transform: scale(0.19);
}

.icon-task.icon-sm {
	transform: scale(0.19);
}

.icon-task.icon-md {
	transform: scale(0.28);
}

.icon-task.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* chest */

.icon-chest {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -739px -817px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-chest.icon-xs {
	transform: scale(0.19);
}

.icon-chest.icon-sm {
	transform: scale(0.18);
}

.icon-chest.icon-md {
	transform: scale(0.28);
}

.icon-chest.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* shop */

.icon-shop {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -739px -584px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-shop.icon-xs {
	transform: scale(0.19);
}

.icon-shop.icon-sm {
	transform: scale(0.18);
}

.icon-shop.icon-md {
	transform: scale(0.28);
}

.icon-shop.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* trophy */

.icon-trophy {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -968px -102px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-trophy.icon-xs {
	transform: scale(0.19);
}

.icon-trophy.icon-sm {
	transform: scale(0.18);
}

.icon-trophy.icon-md {
	transform: scale(0.28);
}

.icon-trophy.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

/* bag */

.icon-bag {
	width: 200px;
	height: 210px;
	background-image: url("/assets/ui/sketch/icon-set2.png");
	background-position: -967px -584px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-bag.icon-xs {
	transform: scale(0.19);
}

.icon-bag.icon-sm {
	transform: scale(0.18);
}

.icon-bag.icon-md {
	transform: scale(0.28);
}

.icon-bag.icon-lg {
	transform: scale(0.51);
	  margin: 0px 3px;
}

//=================================================================================================
//     RESOURCE
//=================================================================================================

/* GEM */


.icon-gem {
	width: 230px;
	height: 230px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -478px -65px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-gem.icon-xs {
	transform: scale(0.1);
}

.icon-gem.icon-sm {
	transform: scale(0.16);
}

.icon-gem.icon-md {
	transform: scale(0.25);
}

.icon-gem.icon-lg {
	transform: scale(0.48);
}

.icon-gem-triple {
	width: 310px;
	height: 260px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -429px -412px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-gem-triple.icon-xs {
	transform: scale(0.07);
	margin: 2px 0;
}

.icon-gem-triple.icon-sm {
	transform: scale(0.12);
	  margin: 4px 0;
}

.icon-gem-triple.icon-md {
	transform: scale(0.19);
	margin: 5px 0;
}

.icon-gem-triple.icon-lg {
	transform: scale(0.37);
}


/* COIN */

.icon-coin {
	width: 230px;
	height: 230px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -98px -62px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-coin.icon-xs {
	transform: scale(0.1);
}

.icon-coin.icon-sm {
	transform: scale(0.16);
}

.icon-coin.icon-md {
	transform: scale(0.25);
}

.icon-coin.icon-lg {
	transform: scale(0.48);
}


.icon-coin-triple {
	width: 310px;
	height: 250px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -57px -419px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-coin-triple.icon-xs {
	transform: scale(0.07);
	margin: 2px 0;
}

.icon-coin-triple.icon-sm {
	transform: scale(0.12);
	margin: 4px 0;
}

.icon-coin-triple.icon-md {
	transform: scale(0.19);
	margin: 4px 0;
}

.icon-coin-triple.icon-lg {
	transform: scale(0.35);
	margin: 10px 0;
}


/* STAR */

.icon-star {
	width: 300px;
	height: 322px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -1162px -5px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-star.icon-xs {
	transform: scale(0.08);
}

.icon-star.icon-sm {
	transform: scale(0.125);
}

.icon-star.icon-md {
	transform: scale(0.19);
}

.icon-star.icon-lg {
	transform: scale(0.37);
}


.icon-star-triple {
	width: 300px;
	height: 320px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -1171px -384px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-star-triple.icon-xs {
	transform: scale(0.07);
	margin: 2px 0;
}

.icon-star-triple.icon-sm {
	transform: scale(0.12);
	  margin: 1px 0;
}

.icon-star-triple.icon-md {
	transform: scale(0.19);
}

.icon-star-triple.icon-lg {
	transform: scale(0.37);
}

/* POTION */

.icon-potion {
	width: 230px;
	height: 290px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -831px -19px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-potion.icon-xs {
	transform: scale(0.085);
	margin: 0px 1px;
}

.icon-potion.icon-sm {
	transform: scale(0.13);
	margin: 0px 3px;
}

.icon-potion.icon-md {
	transform: scale(0.19);
	margin: 0px 6px;
}

.icon-potion.icon-lg {
	transform: scale(0.37);
	margin: 0px 10px;
}

.icon-potion-triple {
	width: 340px;
	height: 260px;
	background-image: url("/assets/ui/sketch/res-icon.png");
	background-position: -774px -413px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%);
	transform-origin: top left;
}

.icon-potion-triple.icon-xs {
	transform: scale(0.07);
	margin: 2px 0;
}

.icon-potion-triple.icon-sm {
	transform: scale(0.11);
	  margin: 6px 0;
}

.icon-potion-triple.icon-md {
	transform: scale(0.17);
	margin: 7px 0;
}

.icon-potion-triple.icon-lg {
	transform: scale(0.33);
	margin: 10px 0;
}

//=================================================================================================
//     ANIMAZIONI
//=================================================================================================


@keyframes chestAnim {
  from {
    background-position: 0;
  }
  to {
    background-position: -320px;
  }
}

@keyframes chestAnimPro {
  from {
    background-position: 0;
  }
  to {
    background-position: -384px;
  }
}

@keyframes goldAnim {
  from {
    background-position: 0;
  }
  to {
    background-position: -256px;
  }
}

@keyframes goldAnimPro {
  from {
    background-position: 0;
  }
  to {
    background-position: -384px;
  }
}

@keyframes heartAnim {
  from {
    background-position: 0;
  }
  to {
    background-position: -256px;
  }
}

@keyframes heartAnimPro {
  from {
    background-position: 0;
  }
  to {
    background-position: -384px;
  }
}
