.prestige-box{
	display: flex;
	  flex-direction: column;
	gap: 8px;
	align-items: center;
	padding: 8px;
	margin: 10px 0;
}

.prestige-content{
	display: grid;
  grid-template-columns: 60px 1fr;
  gap: 8px;
  align-items: center;
}

.prestige-descr{
	max-width: 230px;
}

.prestige-title{
	color: var(--color-complementary);
	  text-transform: uppercase;
	  font-size: 18px;
	  font-weight: bold;
}

.prestige-subtitle{
	font-size: 12px;
}