.band-wrapper{
	overflow: hidden;
}

//############################################################################
//								BAND
//############################################################################

.primary-band {

	color: var(--color-text);
	padding: 27px 18px 0 18px;
	text-transform: uppercase;
	text-align: center;
	
	width: 400px;
    height: 85px;
    background-image: url("/assets/ui/race/panel-set1.png");
    background-position: -1034px -100px;
    background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.95);
	transform-origin: left top;
}

.primary-band>span {
	display: block;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow-strong);
}

.secondary-band {

	color: var(--color-text);
	padding: 38px 18px 0 18px;
	text-transform: uppercase;
	text-align: center;
	
	width: 400px;
	height: 85px;
	background-image: url("/assets/ui/race/panel-set1.png");
	background-position: -1034px -15px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.95);
	transform-origin: left top;}

.secondary-band>span {
	display: block;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow-strong);
}

.complementary-band {
	color: var(--color-text);
	padding: 28px 18px 0 18px;
	text-transform: uppercase;
	text-align: center;
	
	width: 400px;
	height: 85px;
	background-image: url("/assets/ui/race/panel-set1.png");
	background-position: -1034px -171px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.95);
	transform-origin: left top;
}

.complementary-band>span {
	display: block;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow-strong);
}


.dark-band {
	color: var(--color-text);
	padding: 27px 18px 0 18px;
	text-transform: uppercase;
	text-align: center;
	
	width: 400px;
	height: 85px;
	background-image: url("/assets/ui/race/panel-set1.png");
	background-position: -1034px -248px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.95);
	transform-origin: left top;
}

.dark-band>span {
	display: block;
	font-size: 26px;
	font-weight: 900;
	font-style: italic;
	text-shadow: var(--text-shadow-strong);
}

