.hero-upgrade-layout {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 180px);
	gap: 12px;
}


.hero-stats-box-title{
	background: var(--fantasy-surface-gold);
	border: 3px solid var(--fantasy-border-primary);
	color: var(--fantasy-text-cream);
}

.upgrade-card{
	display: grid;
	  gap: 12px;
	  overflow-y: auto;
	  padding-right: 4px;
	  flex: 1;
	  align-content: start;
}

.upgrade-row{
	  padding: 5px;
	  display: flex;
	  flex-direction: column;
	  gap: 10px;
	  background: var(--fantasy-border-primary);
	  border: 3px solid var(--fantasy-surface-gold);
	  color: var(--fantasy-surface-gold);
}

.upgrade-row .label {
  color: var(--ink);
  text-transform: uppercase;
  font-size: 20px;
  font-style: italic;
}


.u-icon {
	background: var(--fantasy-surface-gold);
	border: 3px solid var(--fantasy-text-cream);
	color: var(--fantasy-border-primary);
	width: 100px;
	
}

.u-icon .pill-value{
	font-size: 20px;
}	
.u-context{
	display: grid;
	grid-template-columns: 1fr auto;
}

.u-desc{
	display: grid;
	grid-template-columns: 70px 1fr 120px;
}

.u-desc-icon{
	height: 50px;
	width: 50px;
	margin: auto;
}

.u-desc-title{

}

.u-desc-action{
	margin: auto;
}

.u-title-text{	
	color: var(--color-complementary);
	  text-transform: uppercase;
	  font-size: 18px;
	  font-weight: bold;
}

.u-desc-subtitle{
	font-size: 12px;
	font-weight: normal;
}

.u-progress{
	width: 100%;
	margin: 10px 0;
}