.pill-xs{
	display: inline-flex;
	align-items: center;
	gap: 3px;
	min-height: 26px;
	padding: 2px 2px;
}

.pill-sm{
	display: inline-flex;
	align-items: center;
	gap: 3px;
	min-height: 26px;
	padding: 2px 2px;
}

.pill-md{
	display: inline-flex;
	align-items: center;
	gap: 3px;
	min-height: 26px;
	padding: 2px 2px;
}

.pill-lg{
	display: inline-flex;
	align-items: center;
	gap: 3px;
	min-height: 26px;
	padding: 2px 2px;
}

.pill-frame-xs{
	height: 15px;
	width: 15px;
}

.pill-frame-sm{
	height: 20px;
	width: 20px;
}

.pill-frame-md{
	height: 25px;
	width: 25px;
}

.pill-frame-lg{
	height: 30px;
	width: 30px;
}

.pill-value-xs{
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
}

.pill-value-sm{
	font-size: 16px;
	font-weight: bold;
	margin-left: 5px;
}

.pill-value-md{
	font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
}

.pill-value-lg{
	font-size: 24px;
	font-weight: bold;
	margin-left: 5px;
}