.profile-screen {

}

.profile-grid{
	display: grid;
	gap: 10px;
}

.profile-info{
	display: grid;
	color: var(--color-dark);
	  padding: 20px 10px;
	  gap: 5px;
}

.profile-info  .label{
	padding: 5px 0;
	font-weight: bold;
}

.profile-info span{
	
}

.profile-user{
	color: var(--color-dark);
	display: grid;
	  justify-content: center;
	  padding: 20px 10px;
	  gap: 5px;
}

.profile-user  .label{
	padding: 5px 0;
	font-weight: bold;
}

.profile-logout{
	display: grid;
	  justify-content: center;
	  padding: 30px 10px;
	  gap: 10px;
}