.shop-content {
	position: sticky;
	top: 0;
	z-index: 2;
	margin-bottom: 10px;
	height: 200px;
	background-image: var(--main-background-sfondo2);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 3px solid var(--fantasy-surface-gold);
	display: grid;
	place-items: center;
}

.shop-prestige{
	display: flex;
	  flex-direction: column;
	gap: 8px;
	align-items: center;
	padding: 8px;
	background: var(--fantasy-surface-gold);
	border: 3px solid var(--fantasy-border-primary);
	color: var(--fantasy-text-cream);
	margin: 10px 0;

}

.shop-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin: 10px 0px;
	padding: 0 5px;
}

.shop-slot {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
	padding: 20px 16px;
	color: var(--fantasy-surface-gold);
}

.shop-slot .price {
	flex: 1;
	background: var(--color-light);
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--fantasy-surface-gold);
	border: 3px solid var(--fantasy-border-primary);
	color: var(--fantasy-border-primary);
	

}

.shop-slot .price span {
	font-size: clamp(12px, 4vw, 17px);
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
	text-shadow: 2px 3px 0 var(--shadow-rgba-20);
	white-space: nowrap;
	padding: 2px 15px 1px 15px;
}

.shop-slot .stock {
	flex: 1;
	background: var(--color-light);
	display: flex;
	align-items: center;
	justify-content: center;
	transform: var(--skew-negative-strong);
	background: var(--fantasy-border-primary);
	border: 3px solid var(--fantasy-surface-gold);
	color: var(--fantasy-surface-gold);
	margin-top: -25px;
}

.shop-slot .value {
	font-size: 30px;
	color: var(--color-primary)
}

.s-icon {}

.s-desc {}

.s-desc-title {
	color: var(--color-complementary);
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
}

.s-desc-subtitle {
	font-size: 12px;
}
