//############################################################################
//								top
//############################################################################

.primary-top {
	width: 604px;
	  height: 135px;
	  background-image: url(/assets/ui/race/top1-set4.png);
	  background-position: -17px -8px;
    background-repeat: no-repeat;
    transform: translate(0%, 0%) scale(0.635);
	transform-origin: top left;
}

.secondary-top {
	width: 604px;
	  height: 131px;
	  background-image: url(/assets/ui/race/top1-set4.png);
	  background-position: -15px -166px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.635);
	transform-origin: top left;
}

.complementary-top {
	width: 604px;
	  height: 132px;
	  background-image: url(/assets/ui/race/top1-set4.png);
	  background-position: -14px -497px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.635);
	transform-origin: top left;
}

.dark-top {
	width: 621px;
	  height: 105px;
	  background-image: url(/assets/ui/race/top1-set4.png);
	  background-position: -1px -351px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.635);
	transform-origin: top left;
}

.light-top {
	width: 604px;
	  height: 105px;
	  background-image: url(/assets/ui/race/top1-set4.png);
	  background-position: -15px -678px;
	background-repeat: no-repeat;
	transform: translate(0%, 0%) scale(0.635);
	transform-origin: top left;
}